@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(255, 255, 255);
  --background-rgb: rgb(9, 9, 12);
  --color-text-muted: rgb(153, 153, 153);
  --selection-color: rgb(166, 189, 219);
  --selection-background: rgb(55, 73, 92);
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .hide-first-letter::first-letter {
    @apply invisible;
  }
}

.nav-item {
  @apply cursor-pointer select-none text-2xl font-bold transition-all duration-500 hover:scale-105;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--selection-color);
  background: var(--selection-background);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}

@media (max-width: 768px) {
  .syntax-highlighter {
    font-size: 12px; /* Smaller font size on smaller screens */
  }
}
